html {
  font-size: 10px;
}

// new style

*,
*::before,
*::after {
    box-sizing: border-box;
}


// --fs-h1: 3rem;
// --fs-h2: 2.25rem;
// --fs-h3: 1.25rem;
// --fs-body: 1rem;


// --fw-reg: 300;
// --fw-bold: 900;

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

section {
  padding: 5em 2em;
}



h1 {
  // @extend %font-add;
  @include font($size: 3rem);
  @include media-tablet {
    @include font( $size: 4.5rem);
  }
}

h2 {
  // @extend %font-add;
  @include font( $size: 2.25rem);
  @include media-tablet {
    @include font( $size: 3.75rem);
  }
}

h3 {
  // @extend %font-add;
  @include font( $size: 1.25rem);
  @include media-tablet {
    @include font( $size: 1.5rem);
  }
}

body{
  @extend %font-prim;
  @include font($size: 1rem, $height:1.6rem);
  $color-background: $clr-light;
  color: $clr-dark;
  margin: 0;
  @include media-tablet {
    @include font( $size: 1.125rem);
  }
}

img {
  display: block;
  max-width: 100%;
}

.section__title {
  margin-bottom: .25em;
  &--intro{
    font-weight:$fw-reg;
  }

}


.section__subtitle {
  margin: 0;
  @include font( $size: 1.25rem);
  @include media-tablet {
    @include font( $size: 1.5rem);
  }
}

.section__subtitle--intro,
.section__subtitle--about {
  background: $clr-accent;
  @extend %font-add;
  margin-bottom: 1em;
  padding: 1em 1em;
}

.section__subtitle--intro {
  display: inline-block;
  @include font($size: 2rem, $weight: normal);
  letter-spacing: 3.77px;
}

:focus {
  outline: 3px solid $clr-accent;
  outline-offset: 3px;
}