
%font-prim {
  font-family: 'Open Sans', Verdana, sans-serif;
}

%font-add {
  font-family: 'Poppins', Verdana, sans-serif;
}

%bs{
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);
}